/* .App {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  display: block;
  font-family: system-ui;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 4px;

} */

/* .wrapper {
  height: 97vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(6, 150, 30);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  max-width: 80%;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px #222;
  background-color: #fefefe;
} */

/* form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
} */

/* .form-control {
  margin-bottom: 30px;
}

.error {
  color: red;
} */